@model UrlShortner.Models.RegistrationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@UrlShortner.LocalResource.Resource.Login </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <!--<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">-->
    <!-- Animate.css -->
    <!--<link href="../vendors/animate.css/animate.min.css" rel="stylesheet">-->
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.css" rel="stylesheet">
    <link href="~/build/css/style.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
       
        <div class="login_wrapper">
            <div class="main_logo"><a href="#"><img src="~/images/logo.png" alt="logo" /></a></div>
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <h1>@UrlShortner.LocalResource.Resource.LoginForm</h1>
                        <div>

                            @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", @placeholder = @UrlShortner.LocalResource.Resource.UserName })
                            <span style="vertical-align: middle; color: red; font-weight: 400;">
                                @Html.ValidationMessageFor(model => model.Email)
                            </span>
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = @UrlShortner.LocalResource.Resource.Password })
                            <span style="vertical-align: middle; color: red; font-weight: 400;">
                                @Html.ValidationMessageFor(model => model.Password)
                            </span>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-success" value="@UrlShortner.LocalResource.Resource.Login" />                            
                            <a class="reset_pass" href="#">@UrlShortner.LocalResource.Resource.LostYourPassword</a>
                        </div>
                            <div class="clearfix"></div>


                            @*<div class="separator">
                                    <p class="change_link">
                                        New to site?
                                        <a href="#signup" class="to_register"> Create Account </a>
                                    </p>

                                    <div class="clearfix"></div>
                                    <br />
                                </div>*@
                    }

                    @if (ViewBag.error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.error
                        </div>
                    }
                </section>
            </div>

            @*<div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Create Account</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required />
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Submit</a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>*@
        </div>
    </div>
</body>
</html>

