@model UrlShortnerClient.Models.RegistrationViewModel
@{
    ViewBag.Title = UrlShortnerClient.LocalResource.Resource.Login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ===================== -->
<div class="w500">
    <div class="log_tit_Bg">@UrlShortnerClient.LocalResource.Resource.ForgetPassword</div>
    <div class="spacer10"></div>
    @Html.HiddenFor(model=>model.Email)
    @if (!string.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <span class="alert-warning">@ViewBag.errorMessage</span>
    }

    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", @placeholder = @UrlShortnerClient.LocalResource.Resource.Usernameoremailaddress })
            @*<span style="vertical-align: middle; color: red; font-weight: 400;">
                @Html.ValidationMessageFor(model => model.Email)
            </span>*@
        </div>
        <div class="wid100">           
            <input type="submit" class="btn btn-success" value='@UrlShortnerClient.LocalResource.Resource.Submit' />
        </div>
    }
</div>
