@model UrlShortnerClient.Models.RegistrationViewModel
@{
    ViewBag.Title = UrlShortnerClient.LocalResource.Resource.Signup;
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<!-- ===================== -->
<div class="w500">
    <div class="log_tit_Bg">@UrlShortnerClient.LocalResource.Resource.Signup</div>
    <div class="spacer10"></div>
    
    @if (ViewBag.errorMessage != null)
    {
        <span class="alert-warning">@ViewBag.errorMessage</span>
    }

    @using (Html.BeginForm("Signup", "Account", new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(model => model.FirstName, null, new { @id = "txtName", @class = "form-control", @placeholder = @UrlShortnerClient.LocalResource.Resource.Firstname })
            <span style="color:red">  @Html.ValidationMessageFor(model => model.FirstName)</span>
        </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, null, new { @id = "txtEmail", @class = "form-control", @placeholder = @UrlShortnerClient.LocalResource.Resource.Email })
                <span style="color:red">    @Html.ValidationMessageFor(model => model.Email)</span>
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @id = "txtPassword", @class = "form-control", @placeholder = @UrlShortnerClient.LocalResource.Resource.Password })
                <span style="color:red">  @Html.ValidationMessageFor(model => model.Password)</span>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder=@UrlShortnerClient.LocalResource.Resource.ReenterPassword id="txtConfirmPassword" type="password">
                <span style="color:red" id="passwordMatch">@UrlShortnerClient.LocalResource.Resource.Passwordsdonotmatch</span>
            </div>
            <div class="wid100">
                <button type="submit" class="btn btn-primary" onclick="return Validate()" onchange="return Validate()">@UrlShortnerClient.LocalResource.Resource.Register</button>
                <div class="spacer10"></div>
                <a href="@Url.Action("Login", "Account")">@UrlShortnerClient.LocalResource.Resource.Ialreadyhaveamembership</a>
            </div>
    }
</div>
<!-- ===================== -->

<script>
    $(document).ready(function () {
        $("#passwordMatch").hide();
    });
    function Validate() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            $("#passwordMatch").show();
            return false;
        }
        else {
            $("#passwordMatch").hide();
        }
        return true;
    }
</script>
